html,
canvas,
body,
#react-container,
#routeContainer {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.time-line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list {
  width: 200px;
  height: 50%;
  border: solid 1px silver;
  border-radius: 10px;
  box-shadow: 2px 2px silver;
}
.itemRenderer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 1px silver;
  background-color: white;
  color: silver;
  width: 100%;
  padding: 5px;
}

.itemRendererSelected {
  background-color: rgb(219, 223, 230);
}

.itemRenderer:hover {
  background-color: rgb(219, 223, 230);
}
.itemImage {
  flex: 1 0 40px;
  border-radius: 30px;
  width: 40px;
}
.itemTitleContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
}

.itemTitle {
  color: grey;
  font-size: 14px;
  align-self: center;
}
.itemContent {
  color: silver;
  font-size: 10px;
  align-self: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 100%);
  height: 50px;
  color: grey;
  align-items: center;
}

.mode-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  justify-self: flex-end;
  margin: 0px 20px;
}
.mode-container-title {
  margin: 0px 20px;
  flex: 1 1 auto;
  margin: 0px 20px;
  text-shadow: 0.5px 0.5px white;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.mode-container-item {
  flex: 0 0 auto;
  width: 80px;
  padding: 5px;
  border: solid 1px silver;
  background-color: #333333;
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}

.operation-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  justify-self: flex-end;
}

.mode-button {
  background-color: #333333;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 0px 3px;
}

.mode-button:hover {
  background-color: rgb(202, 33, 212);
}

.mode-container-item-left {
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.mode-container-item-right {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.mode-container-item-editable-toggle {
  margin-left: 20px;
  width: 150px;
}

.timeline-components {
  width: 500px;
  margin: auto;
  background-color: #f0f5fa;
  padding: 20px;
}
.timeline-user {
  background: #fff;
  border-radius: 4px;
  border-left: 4px solid #dd0908;
  border-right: 4px solid #fff;
  cursor: pointer;
}
.user-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timeline-user .user-content {
  margin-bottom: 0;
  width: calc(100% - 40px);
}
.timeline-user .userImg {
  width: 28px;
  height: 28px;
}
.timeline-user .userName {
  font-size: 14px;
}
.timeline-user .userInfo {
  padding-left: 7px;
}
.timeline-user:hover .timeline-user-inner {
  border-left: 6px solid #dc0907;
  border-right: 6px solid #dc0907;
}
.timeline-user:hover .arrow-inner {
  opacity: 1;
}
.timeline-user-inner {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-radius: 4px;
  padding: 7px;
  margin: 0 -4px;
  position: relative;
}
.timeline-user-inner,
.arrow-inner {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.timeline-user .userStatus {
  width: 40px;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  display: flex;
  position: relative;
}
.timeline-user .userStatus-circle {
  width: 20px;
  height: 20px;
  margin-left: auto;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.timeline-user .userStatus-circle .userStatus-ic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 20px;
  text-align: center;
  font-size: 9px;
}

.userStatus-ongoing .icon-options {
  color: #fff;
  background: #e68e0e;
}
.userStatus-completed .icon-correct {
  font-size: 20px !important;
}
.userStatus-completed .icon-correct:before {
  color: #3dd77f;
}
.userStatus-completed .userStatus-text {
  background: #edfff5;
  border: 1.5px solid #25c76f;
  color: #25c76f;
}
.userStatus-completed .status-tooltip {
  background: #edfff5;
  border-color: #25c76f;
}

.userStatus-delayed .ic-info {
  font-size: 15px !important;
  color: #fff;
  background: #d63d3d;
  line-height: 22px !important;
}
.userStatus-delayed .userStatus-text {
  background: #fff5f5;
  border: 1.5px solid #d63d3d;
  color: #d63d3d;
}
.userStatus-delayed .status-tooltip {
  background: #fff5f5;
  border-color: #d63d3d;
}

.userStatus-created .ic-star {
  /*font-size: 15px !important; */
  color: #fff;
  background: #0000fc;
  line-height: 21px !important;
  font-size: 8px !important;
}
.userStatus-created .userStatus-text {
  background: #eaeaff;
  border: 1.5px solid #0000fd;
  color: #0000fd;
}
.userStatus-created .status-tooltip {
  background: #eaeaff;
  border-color: #0000fd;
}

.userStatus-canceled .ic-close {
  /*font-size: 15px !important; */
  color: #989898;
  background: #e2e2e2;
}
.userStatus-canceled .userStatus-text {
  background: #e6e6e6;
  border: 1.5px solid #989898;
  color: #989898;
}
.userStatus-canceled .status-tooltip {
  background: #e6e6e6;
  border-color: #989898;
}

.userStatus-hold .ic-pause {
  font-size: 7px !important;
  color: #fff;
  background: #000;
}
.userStatus-hold .userStatus-text {
  background: #e6e6e6;
  border: 1.5px solid #000;
  color: #000;
}
.userStatus-hold .status-tooltip {
  background: #e6e6e6;
  border-color: #000;
}

.arrow-inner {
  position: absolute;
  background: #dc0907;
  width: 16px;
  height: 13px;
  opacity: 0;
}
.arrow-inner i {
  font-size: 8px;
  display: inline-block;
  color: #fff;
  margin-top: 0;
  position: absolute;
  top: 3px;
  left: 4.5px;
}
.arrow-inner.arrow-top {
  top: -13px;
  border-radius: 50px 50px 0 0;
}
.arrow-inner.arrow-bottom {
  bottom: -13px;
  right: 9px;
  border-radius: 0 0 50px 50px;
}
.arrow-inner.arrow-bottom i {
  top: 1.5px;
}
.userStatus-text {
  position: absolute;
  background: #eaeaff;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 6px;
  left: 156%;
}
.userStatus-ongoing .userStatus-text {
  background: #fff8eb;
  color: #e68d0f;
  border: 1.5px solid #e68d0f;
}
.userStatus-ongoing .status-tooltip {
  border-color: #e68d0f;
  background: #fff8eb;
}
.status-tooltip {
  position: absolute;
  left: -5.4px;
  width: 9px;
  height: 9px;
  border-width: 1.5px 0 0 1.5px;
  border-style: solid;
  border-radius: 3px 0 0 0;
  transform: rotateZ(-45deg);
  top: 9px;
}
.timeline-outer {
  position: relative;
}
.timeline-outer .timeline-user {
  height: 42px;
  width: 55px;
}
.timeline-user-outer {
  position: absolute;
  left: 130%;
  top: 4px;
}
.timeline-user-outer .userName {
  white-space: nowrap;
}
.timeline-user-outer .userImg {
  width: 34px;
  height: 34px;
}
.timeline-user .userText {
  color: #7f858d;
  margin-top: -2px;
}
.task-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
